html, body {
    margin: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: 200;
}

.app-button {
    display: inline-block;
    background-color: #fff;
    border-width: 1px;
    max-width: 200px;
    border-color: #F9065F;
    color: #F9065F;
    padding: 0.35em 1.2em;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 0 0.3em 0.3em 0;
    cursor: pointer;
    border-radius: 0.35em;
}

.app-button:hover {
    background-color: #F9065F;
    color: #fff;
}

@media all and (max-width:30em) {
    .app-button {
        display: block;
        margin: 0.4em auto;
    }
}

.app-button.button-cancel {
    border-color: #B9BCC1;
    color: #B9BCC1;
}

.app-button.button-cancel:hover {
    background-color: #B9BCC1;
    color: #fff;
}

.app-button.button-continue {
    border-color: #27A83F;
    color: #27A83F;
}

.app-button.button-continue:hover {
    background-color: #27A83F;
    color: #fff;
}

input {
    padding: 4px;
    height: 40px;
    margin-bottom: 6px;
}

input#username {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #F9065F;
}

/********************** side Blockparties ******************/

.SplitMainView {
    display: flex;
    width: 100%;
}

.SplitWindow {
    display: flex;
}

.MainWindow {
    width: 100%;
    position: relative;
}

div.main {
    flex: 8;
    height: 100%;
}

div.blockparties {
    background-color: #2F343D;
    color: #FFF;
    padding-left: 7px;
    padding-right: 7px;
    min-height: 100%;
    width: 65px;
    padding-top: 20px;
}

.show-blockparty {
    text-align: center;
}

div.sidebar {
    background-color: #E8E8E8;
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 120px;
    min-height: 100%;
}


.list-blockparties {
    top: 30px;
    padding: 0px;
}

div.blockparty {
    height: 60px;
    width: 60px;
    margin-bottom: 17px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid;
}

.active-network {
    background-color: aliceblue;
}

#add-network {
    color: #fff;
    font-size: 45px;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.username {
    display: flex;
    flex: 1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

div.post-msg, div.say-hello {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-bottom: #E8E8E8;
    border-width: 1px;
    display: inline;
}

input#post {
    margin: 0 5px 0 10px;
    min-width: 40%;
    max-width: 80%;
    font-size: 15px;
    resize: vertical;
    overflow: auto;
}

button#add-to-list {
    max-width: 20%;
}

button#load-more {
    margin-top: 15px;
    display: block;
}


.content {
    padding: 0 20px;
}

.feed {
    overflow: scroll;
    padding: 5px;
    padding-top: 15px;
    height: 700px;
}

.FeedEvent {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 35px;
    padding: 10px;
}

#username {
    display: block;
}

/***************welcome******************/

div.welcome {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5%;
}

div.welcome section {
    margin: 20px 10%;
    padding: 20px;
    outline: 0.5px solid #1DA0E1;
}

/***************wizard******************/

.wizard-page {
    position: fixed;
    background: url('img/frame.png');
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 79px;
    text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    padding: 4px;
    display: block;
    margin: 4px;
    margin-left: 15px;
    width: 70%;
    background-color: #fff;
}

.box {
    margin-top: 30px;
    padding: 25px;
    outline: 0.5px solid #1DA0E1;
}

input#wizard-app-id, input#wizard-api-key, input#invite-code {
    border: none;
    border-bottom: 1px solid #F9065F;
    width: 70%;
    display: block;
    margin: 20px auto;
}

input#wizard-app-id > button {
    margin: auto;
    display: block;
}

#popup {
    display: none;
    width: 50%;
    max-width: 500px;
    min-height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#error-message {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* min-height: 400px; */
    background-color: #fff;
    box-shadow: 1px 1px gainsboro;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

#invite-code {
    word-wrap: break-word;
    padding-top: 10px;
}

#close {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #000;
    text-align: center;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #55585d78;
    position: absolute;
    left: 0;
    top: 0;
}

#error-message + #overlay {
    display: block;
}

.top {
    display: flex;
    padding: 20px;
    flex: 1;
    height: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorTop {
    background-color: rgb(211, 39, 70);
}

.successTop {
    background-color: rgb(32, 169, 66);
}

.bottom {
    display: flex;
    flex-direction: column;
    height: 50%;
    flex: 1;
    padding: 20px;
    justify-content: space-around;
}

.bottom #retry {
    margin-top: 15px;
    width: 50%;
}

.error-icon, .success-icon {
    height: 100px;
}

.message-title {
    font-weight: 200;
    font-size: 4.5vw;
    color: #fff;
    margin: 0;
    text-align: center;
}

.errorMessageAction {
    margin-top: 10%;
}

p#invite-code {
    font-size: 14px;
    margin-bottom: 25px;
}

.bottom > h4 {
    margin-bottom: 4px;
    margin-top: 4px;
}

  /**************************PELL************************************/


.editor {
    border: 1px solid #B9BCC1;
    box-sizing: border-box;
  }
  
  .compose-message {
    box-sizing: border-box;
    max-height: 300px;
    outline: 0;
    overflow-y: auto;
    padding: 10px;
  }

  
  .actionbar {
    background-color: #fff;
    border-bottom: 1px solid #B9BCC1;
  }
  
  .editor-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: 0;
    width: 30px;
    vertical-align: bottom;
  }
  
  .editor-button-selected {
    background-color: #F0F0F0;
  }

  /**********************************LOADER****************************/

  #loader {
    display: none;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  #double-bounce1 {
    background-color:#1DA0E1;
  }
  
  #double-bounce1, #double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  #double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: #F9065F;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
