html, body {
    margin: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: 200;
}

button {
    background-color: #fff;
    border-width: 1px;
    border-color: #F9065F;
    color: #F9065F;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #F9065F;
    color: #fff;
}

button.button-cancel {
    border-color: #B9BCC1;
    color: #B9BCC1;
}

button.button-cancel:hover {
    background-color: #B9BCC1;
    color: #fff;
}

button.button-continue {
    border-color: #27A83F;
    color: #27A83F;
}

button.button-continue:hover {
    background-color: #27A83F;
    color: #fff;
}

input {
    padding: 4px;
    height: 40px;
}

input#username {
    border: none;
    border-bottom: 1px solid #F9065F;
    width: 70%;
}

/********************** side Blockparties ******************/

.SplitMainView {
    display: flex;
}

.SplitWindow {
    display: flex;
}

div.main {
    display: block;
    flex: 8;
    height: 100%;
}

div.blockparties {
    background-color: #2F343D;
    color: #FFF;
    padding-left: 7px;
    padding-right: 7px;
    min-height: 100%;
    width: 65px;
}

.show-blockparty {
    text-align: center;
}

div.sidebar {
    background-color: #E8E8E8;
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 120px;
    min-height: 100%;
}


.list-blockparties {
    top: 30px;
    padding: 0px;
}

div.blockparty {
    height: 60px;
    width: 60px;
    margin-bottom: 17px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid;
}

.active-network {
    background-color: aliceblue;
}

#add-network {
    color: #fff;
    font-size: 45px;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#add-network:hover {
    color: #F9065F;
}

.show-peers {
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.username {
    display: flex;
    flex: 1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
}

div.post-msg, div.say-hello {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-bottom: #E8E8E8;
    border-width: 1px;
    display: inline;
}

input#post {
    margin: 0 5px 0 10px;
    min-width: 40%;
    max-width: 80%;
    font-size: 15px;
    resize: vertical;
    overflow: auto;
}

button#add-to-list {
    max-width: 20%;
}

button#load-more {
    margin-top: 15px;
    display: block;
}


.content {
    padding: 0 20px;
}

.feed {
    overflow: scroll;
    padding: 5px;
    padding-top: 15px;
    width: 90%;
    height: 700px;
}

.FeedEvent {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 35px;
    padding: 10px;
}

#username {
    display: block;
}

li {
    list-style-type: none;
}



/***************wizard******************/

.wizard-page {
    position: fixed;
    background: url('img/frame.png');
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 79px;
    text-align: center;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    padding: 4px;
    display: block;
    margin: 4px;
    margin-left: 15px;
    width: 70%;
    background-color: #fff;
}

.box {
    margin-top: 30px;
    padding: 25px;
}

input#wizard-app-id, input#wizard-api-key {
    border: none;
    border-bottom: 1px solid #F9065F;
    width: 70%;
    display: block;
    margin: 20px auto;
}

input#wizard-app-id > button {
    margin: auto;
    display: block;
}
