html, body {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/********************** side Blockparties ******************/

.MainWindow {
    width: 100%;
    flex: 11;
}

.main {
    flex: 4;
}

div.blockparties {
    background-color: #2F343D;
    color: #FFF;
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    flex: 1;
}

div.sidebar {
    background-color: #ABD1BB;
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
    overflow: hidden;
    flex: 1;
}

ul.list-blockparties {
    position: sticky;
    top: 30px;
    padding: 0px;
}

li.blockparty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
    position: relative;
    margin-bottom: 17px;
}

#add-network {
    color: #fff;
    font-size: 45px;
}

.blockparty-img {
    margin: 5px;
    margin-bottom: 15px;
    width: 45px;
    height: 45px;
}

.SplitView {
    display: flex;
}

.SplitView > div.side {
    min-width: 120px;
    padding: 20px;
    background: #efefef;
}

.show-peers {
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.switch-app {
    width: 100%;
}

div.post-msg, div.say-hello {
    background: papayawhip;
}

.content {
    padding: 0 20px;
}

.FeedEvent {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 35px;
    padding: 10px;
}

#post {
    padding: 4px;
    margin: 4px;
    margin-left: 15px;
}

#username {
    display: block;
}

li {
    list-style-type: none;
}
